// Mixins in here
.mediaQuery {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reverseQuery {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}